@import url('https://fonts.googleapis.com/css?family=Anton|Cinzel|Josefin+Slab|Orbitron');

body {
        font-family: 'Orbitron', sans-serif;
}
td{
        width: 30px;
        height: 30px;
        padding: 0;
        border: 1px;
        padding: 7px;
}

h1 {
<<<<<<< HEAD
        font-size: 50px;
=======
>>>>>>> 5da94bdc83dad95880a6147f69593e83e7633aa6
        background-image: url(../imagenes/space.jpg);
        width: 100%;
        height: 50px;
        padding: 10px;
}

.todas {
       background: blue;  
       background-image: url("../imagenes/up.png");
        background-repeat:no-repeat; 
        background-size: contain;
}

.inicio {
        background-image: url(../imagenes/start.png);
        position: absolute;
        background-size: contain;
}

.final {
        background-image: url(../imagenes/end.png);
        background-size: contain;
        position: absolute;


}
.left {
        
        background-image: url("../imagenes/left.png");
        position: absolute;

        background-size: contain;


        background-size: contain;
        width: 30px;
        height:  30px;
    
}
.right{
       background-image: url("../imagenes/rigth.png"); 
        position: absolute;

        background-size: contain;


        background-size: contain;
        width: 30px;
        height:  30px;
}
.up {
        
         background-image: url("../imagenes/up.png");
         position: absolute;
        background-size: contain;
        width: 30px;
        height:  30px;
      
}
.down {
        
         background-image: url("../imagenes/down.png");
         position: absolute;

        background-size: contain; 


        background-size: contain;
        width: 30px;
        height:  30px;
      
}

.subguion {
        color: white;

}
.asterisco {
<<<<<<< HEAD
background-image: url("../imagenes/rojito.png");
        background-size: contain;
}
=======
        background-color: black;
        background-size: contain;
}

>>>>>>> 5da94bdc83dad95880a6147f69593e83e7633aa6
button{
        font-size:25px;
        font-family: 'Josefin Slab', serif;
        font-weight:bold;
        color:#3d1616;
        background:rgb(112, 189, 167);
        border:18px;
        height:50px;
     }
button:hover {
        background-color: #c37d4e;
        color: white;
}